<div class="create-user-container">
  <div class="title-container">
    <h1 class="title">Create User</h1>
  </div>
  <form [formGroup]="formGroup">
    <label>Email</label>
    <input [formControl]="getEmail()" type="text" name="email" placeholder="Email">

    <label>Password</label>
    <input [formControl]="getPassword()" type="password" name="password" placeholder="Password">

    <input type="submit" value="Submit" (click)="saveUser()">
    <input type="submit" value="Cancel" (click)="navigateToUsers()">
  </form>
</div>
