.progress-bar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    margin-top: 3%;
    margin-bottom: 2%;  
}

.progress-bar {
    position: relative;
    display: flex;
    flex: 0.3;
    justify-content: space-evenly;
    counter-reset: step;
}

.progress-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 70%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress-step {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step-active {
    background-color: blue;
    color: white;
}

.line {
    width: 35%;
    margin: auto;
    border: none;
    color: lightgray;
    background-color: lightgrey;
    border-radius: 50px;
    margin-bottom: 2%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: none;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    cursor: pointer;
}

.card-discord {
    background-color: #5865F2;
}

.card-youtube {
    background-color: #FF0000;
}

.card-timer {
    background-color: #333;
}

.card-weather {
    background-color: #49c;
}

.card-github {
    background-color: #223;
}

.icon {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-discord {
    font-size: 100px;
}

.action-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.action-card {
    color: white;
    height: 300px;
    width: 19%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1%;
    border: none;
}

.title-card-container {
    margin-top: 14%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
}

.description-card-container {
    margin: 8%;
    font-size: 16px;
}

.connection-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.connection-card {
    height: 500px;
    width: 19%;
    display: flex;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.icon-connect {
    font-size: 80px;
    width: 100%;
    height: 36%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: flex-end;
}

.image-connect {
    height: 36%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button-connect {
    font-size: 14px;
    font-weight: 400px;
    width: 60%;
    padding: 10px;
    border: none;
    background-color: #5b4;
    color: white;
    margin-top: 41%;
    cursor: pointer;
}

.icon-checked {
    margin-top: 50%;
    font-size: 50px;
    color: #5b4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.button-container {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex: 0.2;
    margin-top: 3%;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputName {
    border-radius: 10px;
    border-color: #223;
    padding: 20px;
    width: 30%;
    text-align: center;
    font-size: 13px;
}

.button-cancel {
    margin-right: 20px;
    padding: 8px;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #223;
    font-weight: bold;
    transition: 1.5s;
}

.button-cancel-2 {
    margin-right: 20px;
    padding: 8px;
    width: 90px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #223;
    border-radius: 10px;
    font-weight: 400;
    transition: 1.5s;
}

.button-previous {
    margin-right: 20px;
    padding: 8px;
    width: 90px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #223;
    border-radius: 10px;
    font-weight: 400;
    transition: 1.5s;
}