<div class="navbar-container">
    <div class="logo-container">
        <img src="../../../assets/image/logo.png" width="50px" height="50px"/>
        <h1 class="title">AREA</h1>
    </div>
    <div class="button-container">
        <button class="button-users" *ngIf="(auth.isAuthenticated$ | async) === true && getDisplayUserState() === true" (click)="navigateToUsers()">USERS</button>
        <button *ngIf="(getCreateButtonState() === false && (auth.isAuthenticated$ | async) === true)" class="button-create" (click)="navigateToCreate()">CREATE</button>
        <button class="button-logout" *ngIf="(auth.isAuthenticated$ | async) === true"  (click)="auth.logout()">
            <p>LOG OUT</p>
        </button>
        <button class="button-login" *ngIf="(auth.isAuthenticated$ | async) === false"  (click)="login()">
            LOG IN
        </button>
    </div>
</div>
