<div class="home-container">
    <div class="cards-container">
        <div *ngFor="let data of actionReactionList" class="card">
            <div class="header-card">
                <button class="button-trash" (click)="deleteActionReaction(data.title)">
                  <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="title-container">
                <h1>{{data.title}}</h1>
            </div>
            <hr class="line" size="5"/>
            <div class="actionReaction">
                <div class="icon-action">
                  <mat-icon [ngStyle]="{'color': '#5865F2'}" *ngIf="data.actionService === 'discord'" class="icon-actionReaction">discord</mat-icon>
                  <mat-icon [ngStyle]="{'color': '#223'}" *ngIf="data.actionService === 'timer'" class="icon-actionReaction">schedule</mat-icon>
                  <mat-icon [ngStyle]="{'color': '#49c'}" *ngIf="data.actionService === 'weather'" class="icon-actionReaction">cloud</mat-icon>
                </div>
                <div class="image-action">
                  <img *ngIf="data.actionService === 'youtube'" class="image-actionReaction" src="../../../assets/image/youtube.png" width="82px" height="82px"/>
                  <img *ngIf="data.actionService === 'randomUser'" class="image-actionReaction" src="../../../assets/image/random_user_img.png" width="200px" height="30px"/>
                  <!-- <img *ngIf="data.actionService === 'github'" class="image-actionReaction" src="../../../assets/image/github.png" width="80px" height="80px"/> -->
                </div>
                <div class="icon-reaction">
                  <mat-icon [ngStyle]="{'color': '#5865F2'}" *ngIf="data.reactionService === 'discord'" class="icon-actionReaction">discord</mat-icon>
                  <mat-icon [ngStyle]="{'color': '#223'}" *ngIf="data.reactionService === 'timer'" class="icon-actionReaction">schedule</mat-icon>
                  <mat-icon [ngStyle]="{'color': '#49c'}" *ngIf="data.reactionService === 'weather'" class="icon-actionReaction">cloud</mat-icon>
                </div>
                <div class="image-action">
                  <img *ngIf="data.reactionService === 'youtube'" src="../../../assets/image/youtube.png" class="image-actionReaction" width="100px" height="90px"/>
                  <img *ngIf="data.reactionService === 'randomUser'" src="../../../assets/image/random_user_img.png" class="image-actionReaction" width="200px" height="30px"/>
                  <!-- <img *ngIf="data.reactionService === 'github'" src="../../../assets/image/github.png" class="image-actionReaction" width="100px" height="100px"/> -->
                </div>
            </div>
            <div class="second-container">
                <div class="actionReaction-title-description-container">
                  <div class="actionReaction-title-container">
                    <h5>{{data.action.title}}</h5>
                  </div>
                  <div class="actionReaction-description-container">
                    <p>{{data.action.description}}</p>
                  </div>
                </div>
                <div class="actionReaction-title-description-container">
                    <div class="actionReaction-title-container">
                      <h5>{{data.reaction.title}}</h5>
                    </div>
                    <div class="actionReaction-description-container">
                      <p>{{data.reaction.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
