table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
  border-bottom: 1px solid black;
  border-top: 1px solid;
  border-color: #E8E8E8;
}

td {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-trash {
    background-color: #dc3545;
    margin-left: 8px;
    border: none;
    margin-right: 2%;
    margin-top: 1%;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-add {
    background-color: #22bb33;
    width: 70px;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.button-add:active {
  opacity: 0.8;
}

.button-trash:active {
  opacity: 0.8;
}

.icon-trash {
  font-size: 20px;
}
